/* common style or utilities */
body{
    margin:0;
    background: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
/* start header section */

.top-container{
    height:677px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:navy;
}
/* .top-banner{
    display:flex;
    width:100%;
    height:677px;
    background-color:navy;
} */
.top-banner{
    justify-content: center;
    align-items: center;
}
/* .half{
    width:50%;
} */
.top-banner img{
    Width:556px;
    Height:438px;
    margin-top:153px;
    padding-left:23px;
}
/* .half img{
    Width:556px;
    Height:438px;
    margin-top:153px;
    padding-left:23px;
} */
/* .top-style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
.top-title{
    width:485px;
    height:230px;
    color: #FFFFFF;
    padding-top:207px;
    padding-left: 156px;
    padding-bottom:240p;
    font-size: 64px;
    font-weight:700;
    line-height: 80px;
}
.link{
    width: 88px;
    height: 24px;
    margin-left: 156px;
    background: #E02C6D;
    text-decoration: none;
    padding:10px 24px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
/* end header section  */

/* ---top players name and info---  */

.football-player{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* align-items: centr; */
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center; */
}
.top-players{
    width: 330px;
    height:474px;
    padding:15px;
}
.player{
    width:330px;
    height:474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

}
.player img{
    width:300px;
    height:256px;
    margin:15px 15px 0px 15px;
}
.player-name{
    margin:0px;
    color: #18191F;
    font-size: 28px;
    font-weight:700;
    margin:0px 15px 10px 15px;
}
.player-info{
    width: 300px;
    height:104px;
    font-size: 16px;
    color: #6C6C6C;
    margin:0px 15px 33px 15px;
    overflow:hidden;
}
/* football god  */

.language-name{
    text-align:center;
    text-transform:capitalize;
    text-shadow: 1px 0px lime, -1px 0px lime, 0px 1px lime, 0px -1px lime;
    margin-top:100px;
}
.image{
    width:400px;
    margin:auto;
    text-align: center;
    border:2px solid #ddd;
}
.image:hover{
    box-shadow:3px 3px 10px rgba(0,0,0,0.3)
}
.image img{
    width:100%
}
ul{
    margin:0px;
    padding: 0px;
}
ul li{
   list-style-type:none;
   padding:10px;
}
ul li a{
    text-decoration:none;
    text-transform:capitalize;
    color:black;
    font-family:tahoma;
    text-shadow:1px 1px lime;
}
ul li a:hover{
    color:white;
    background:yellow;
}


/* ------last section-------  */

.last-style{
    width: 483px;
    height: 213px;
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    margin:63px auto;
    /* border:2px solid red; */

}
.last-logo img{
    width:483px;
    height:110px;
    /* margin-bottom: 20px; */
}
.last-icons{
    width: 170px;
    height: 32px;
    margin:20px 156px;
    text-align: center;
}
.fab{
    width:32px;
    height:32px;
}
.copy-write{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    margin:0px;
    text-align: center;
}

/* -----media quary----- */

/* -----mobile device----- */

@media screen and (max-width:688px){
    .top-container{
        width: 360px;
        height: 695px;
        background: #2D25A0;
    }
    .top-title{
        width: 278px;
        height: 138px;
        font-size: 36px;
        line-height: 50px;
        color: #FFFFFF;
        padding-left:16px;
        font-weight: bold;
    }
    .link{
        width: 168px;
        height: 44px;
        padding-left: 19px;
        background: #E02C6D;
    }
    .top-banner{
        width: 329px;
        height: 259px;
    }
}
/* -----tab device----- */

@media only screen and (min-width: 688px) and (max-width:992px) {
    .top-container{
        width:50px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
    }
     .football-player, .last-style{
        grid-template-columns:repeat(2, 1fr)
    }
}